 /* 
 ====================
Image Interpreter-a-nator
Nina Jones, Nov. 2025
Dis: Drag and drop interface that uses a tensorflow ro determine the subject of an image.
Credits:
Public Domain images from publicdomainpictures.net
====================
 */

 
  /* HTML styles */
 
 body {
	 background: #223d4d;
 }

 .content {	 
         max-width: 90%;
         margin: auto;
 }
 

 /* Image Application Dropzone */
 #dropzone {
      width: 320px;
      height: 240px;
      border: 3px dashed #888;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fe7f2d;
      color: #999;
      font-size: large;
      font-weight: bold;
      margin-bottom: 10px;
      cursor: pointer;
      
    }
    #dropzone.hover {
      border-color: #233d4d;
      color: #fe7f2d;
    }

    #progressContainer {
      width: 320px;
      height: 10px;
      background: #42A231;
      margin-bottom: 10px;
      border-radius: 5px;
      overflow: hidden;
      display: none;
    }

    #progressBar {
      height: 100%;
      width: 0%;
      background: #97FA48;
      transition: width 0.3s;
    }

    #preview.overylay {
      background-color: #233d4d;
      background-filter: blur(10px);
    }